*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-color: #EFEFEF;
  color:white;
  font-size: 22px;;
}

#container{
  display:grid;
  border: 1px solid red;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: calc(33.33vh - 10px) calc(33.33vh - 10px) calc(33.33vh - 10px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#container .celda1{
  padding: 9px;
  background-color:#a60573;
  border-radius: 5px;
}

#container .celda2{
  padding: 9px;
  background-color:#596ac3;
  border-radius: 5px;
}

#container .celda3{
  padding: 9px;
  background-color:#97bc27;
  border-radius: 5px;
}

#container .celda4{
  padding: 9px;
  background-color:#ff9800;
  border-radius: 5px;
}

#container .celda5{
  padding: 9px;
  background-color:#ff3700;
  border-radius: 5px;
}

#container .celda6{
  padding: 9px;
  background-color:#459800;
  border-radius: 5px;
}

#container .celda7{
  padding: 9px;
  background-color:#ff98ff;
  border-radius: 5px;
}

#container .celda8{
  padding: 9px;
  background-color:#023300;
  border-radius: 5px;
}

#container .celda9{
  padding: 9px;
  background-color:#0f2255;
  border-radius: 5px;
}
